<div class="card" style="width: 80%; margin: 0 auto">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="cameras">
        <thead>
          <th style="border: none">CAMERA ID</th>
        </thead>
        <tbody>
          <tr *ngFor="let camera of filteredCameras">
            <td
              style="
                align-items: center;
                display: flex;
                justify-content: flex-start;
              "
            >
              <img
                src="../../../../assets/camera.jpg"
                style="width: 25px; padding: 3px"
              />
              <div style="font-weight: 700">{{ camera.camera_id }}</div>
            </td>
            <td style="justify-content: flex-end">
              <!-- Binding the button edit to the productEdit page  -->
              <button
                class="btn btn-outline-primary btn-sm"
                (click)="EditCamera(camera.camera_id)"
              >
                View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
