<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row" margin-bottom="2%">
          <div>Camera ID: {{ camera.camera_id }}</div>
        </div>
        <div class="row" margin-bottom="2%">
          <div>Time Stamp: {{ camera.cameraData[0].timestamp }}</div>
        </div>
        <div class="row" margin-bottom="2%">
          <div>Crowd Density:</div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-4">
        <!-- Here we notice that queryParamsHandling is used: We use it because when we click the back button of the details, we want the system to retain all the query parameters that we have given  -->
        <button
          class="btn btn-outline-secondary mr-3"
          style="width: 80px"
          queryParamsHandling="preserve"
          (click)="Back()"
        >
          <a class="fa fa-chevron-left"></a> Back
        </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
