<div class="card" id="outside-container">
  <div
    class="card-header"
    style="display: flex; justify-content: space-between"
  >
    {{ pageTitle }}
    <button
      class="btn btn-outline-secondary mr-3"
      style="width: 80px"
      (click)="this.refreshButtonHandler()"
    >
      Refresh
    </button>
  </div>

  <div class="card-body">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Camera Id</th>
          <th>Timestamp</th>
          <th>Density</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let camera_info of this.showcaseCameraData">
          <td>{{ camera_info.camera_id }}</td>
          <td>{{ camera_info.timestamp }}</td>
          <td>{{ camera_info.density }}</td>
        </tr>
        <graph-component
          *ngIf="this.camera"
          [cameraData]="this.camera"
        ></graph-component>
      </tbody>
    </table>
    <!-- <div class="row">
      <div class="col-md-8">
        <div class="row" margin-bottom="2%">
          <div>Camera ID: {{ camera.camera_id }}</div>
        </div>
        <div class="row" margin-bottom="2%">
          <div>Time Stamp: {{ camera.cameraData[0].timestamp }}</div>
        </div>
        <div class="row" margin-bottom="2%">
          <div>Crowd Density:</div>
        </div>
      </div>
    </div> -->

    <div class="row mt-4">
      <div class="col-md-4">
        <!-- Here we notice that queryParamsHandling is used: We use it because when we click the back button of the details, we want the system to retain all the query parameters that we have given  -->
        <button
          class="btn btn-outline-secondary mr-3"
          style="width: 80px"
          queryParamsHandling="preserve"
          (click)="Back()"
        >
          <a class="fa fa-chevron-left"></a> Back
        </button>
      </div>
    </div>
  </div>
</div>
